<!DOCTYPE html>
<html>
<head>
    <title>Riddle Game</title>
</head>
<body>
    <h1>Riddle Game</h1>

    <form action="/" method="GET">
        <label for="user_name">Enter your name:</label>
        <input type="text" id="user_name" name="user_name">
        <input type ="hidden" value = "Enter">
        {% if user_name %}
            <p>Welcome, {{ user_name }}! This is a riddle game consisting of four questions. You are allowed multiple tries and need to answer correctly to proceed to the next question. Click start to proceed to the first question.</p>
    </form>
    <form action="/question" method="GET">
        <input type="submit" value="Start">
        {% endif %}
    </form>

</body>
</html>